{% extends 'base.html.twig' %}

{% form_theme formTopic 'bootstrap_4_layout.html.twig' %}

{% block title %}Créer un sujet 
{% endblock %}

{% block body %}
<div class="mx-auto" style="width: 50%;">
	<h1 class="pt-5">
		Création d'un sujet
	</h1>

	{{ form_start(formTopic) }}

	{{ form_row(formTopic.title) }}
	{{ form_row(formTopic.content) }}

	<button type="submit" class='btn btn-warning'>
		{% if editMode %}
			Éditer
		{% else %}
			Valider
		{% endif %}
	</button>
	{{ form_end(formTopic) }}
{% endblock %}