{% extends 'base.html.twig' %}

{% form_theme formTopic 'bootstrap_4_layout.html.twig' %}

{% block title %}Welcome to SlackOverflow
{% endblock %}

{% block body %}
	<h1>
		Création d'un topic !
	</h1>

	{{ form_start(formTopic) }}

	{{ form_row(formTopic.title) }}
	{{ form_row(formTopic.content) }}

	<button type="submit" class='btn btn-success'>
		{% if editMode %}
			Edit
		{% else %}
			Submit
		{% endif %}
	</button>
	{{ form_end(formTopic) }}
{% endblock %}
