{% extends 'base.html.twig' %}

{% form_theme formTopic 'bootstrap_4_layout.html.twig' %}

{% block title %}Welcome to SlackOverflow
{% endblock %}

{% block body %}

	{{ form_start(formTopic) }}
	<div class="d-flex container-fluid justify-content-center px-5">
		<div class="card my-0 col-md-8 p-0">
			<h6 class="card-header">
				Création d'un topic !
			</h6>
			<div class="card-body">
					{{ form_row(formTopic.title) }}
				<p class="card-text">
					{{ form_row(formTopic.content, {'attr': {'rows': '8'} }) }}
				</p>
				<button type="submit" class='btn btn-success'>
					{% if editMode %}
						Editer
					{% else %}
						Soumettre
					{% endif %}
				</button>
				{{ form_end(formTopic) }}
			</div>
		</div>
	</div>
{% endblock %}
