{% extends 'base.html.twig' %}

{% form_theme formPost 'bootstrap_4_layout.html.twig' %}

{% block title %}Welcome to SlackOverflow
{% endblock %}

{% block body %}
	<h1 class="m-5">
		Réponse au sujet {{ topic }}
	</h1>

	<div class="mx-5">
		{{ form_start(formPost) }}

		{{ form_row(formPost.content) }}
	</div>

	<button type="submit" class='btn btn-warning mx-5'>
		{% if editMode %}
			Éditer
		{% else %}
			Poster
		{% endif %}
	</button>
	{{ form_end(formPost) }}
{% endblock %}
