{% extends 'base.html.twig' %}

{% block title %}Welcome to SlackOverflow{% endblock %}

{% block body %}
    {% if topics %}
        {% for topic in topics %}
            <h3>
                {{ topic.title }}
            </h3>
            <p>
                {{ topic.author }}<br>
                {{ topic.content}}
            </p>
        {% endfor %}
    {% endif %}
{% endblock %}
